@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: #202020;

    --card: #595959;
    --card-foreground: #f5f5f5;

    --popover: #f5f5f5;
    --popover-foreground: #202020;

    --primary: #F2B61A;
    --primary-foreground: ##f5f5f5;

    --secondary: #554506;
    --secondary-foreground: #f5f5f5;

    --muted: #919191;
    --muted-foreground: #18141b;

    --accent: #051f42;
    --accent-foreground: #f5f5f5;

    --destructive: #bc2711;
    --destructive-foreground: #202020;

    --border: #202020;
    --input: #202020;
    --ring: #202020;

    --radius: 0.5rem;
  }
 .dark {
    --background: #202020;
    --foreground: #f5f5f5;

    --card: #f5f5f5;
    --card-foreground: #202020;

    --popover: #202020;
    --popover-foreground: #f5f5f5;

    --primary: #202020;
    --primary-foreground: #F2B61A;

    --secondary: #f5f5f5;
    --secondary-foreground: #554506;

    --muted: #18141b;
    --muted-foreground: #919191;

    --accent: #f5f5f5;
    --accent-foreground: #051f42;

    --destructive: #bc2711;
    --destructive-foreground: #202020;

    --border: #f5f5f5;
    --input: #f5f5f5;
    --ring: #f5f5f5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
}
